language: node_js
node_js:
  - '10'
  - '12'
  - '14'
env:
  - NODE_OPTIONS=
  - NODE_OPTIONS=--experimental-modules
deploy:
  - provider: script
    script: npx nlm release
    cleanup: false
    'on':
      branch: master
      node_js: '14'
